body {
    background-color: #34C182;
}

h1, h2 {
    font-family: Verdana;
}

.instructions {
    display: inline;
    text-align: center;
    padding: 2.5% 2.5% 2.5% 2.5%;
}

.grid-container {
    display: grid;
    background-color: #34C182;
    grid-template-columns: repeat(8, fr);
    grid-template-rows: repeat(8, 1fr);
    
    width: 60%; /*Position grid*/
    margin: 0 auto;
    position: relative;

    grid-template-areas: /*Grid layout*/
        "1 2 3 4 5 6 7 8"
        "9 10 11 12 13 14 15 16"
        "17 18 19 20 21 22 23 24"
        "25 26 27 28 29 30 31 32"
        "33 34 35 36 37 38 39 40"
        "41 42 43 44 45 46 47 48 "
        "49 50 51 52 53 54 55 56"
        "57 58 59 60 61 62 63 64";
}

.grid-tile {
    background: url('imgs/Tiles/1.png') no-repeat;
    height: 1/8 fr;
}

/* .\' {
    background: url('imgs/Tiles/13.png') no-repeat;
} */

.row-7 {
    background: url('imgs/Tiles/17.png') no-repeat;
    height: 100px;
}

.row-8 {
    background: url('imgs/Tiles/18.png') no-repeat;
    height: 100px;
}

.controls {
    display: grid;
    /* grid-template-columns: 1/3 1/3 1/3; */
}

.knightButtons {
    grid-column: span 6;
    grid-row: 1/3;
}

.knightButtonsBottom {
    grid-column: 2;
}

.dinoButtons {
    grid-column: col-start 7 /span 6;
    grid-row: 1/3;
}

.dinoButtonBottom{
    grid-column: col-start 7 / span 6;
    grid-row: 2/3;
}

.knightButtonBottom { */
    grid-column: col-start 7 / span 6; */
    grid-row: 2/3; */
} 