.knight-move-right {
	background: url('/imgs/Button.png') no-repeat -578px -2021px;
	width: 176px;
	height: 178px;
}
.knight-move-left {
	background: url('/imgs/Button.png') no-repeat -578px -2229px;
	width: 176px;
	height: 178px;
}
.knight-move-up {
	background: url('/imgs/Button.png') no-repeat -578px -2421px;
	width: 176px;
	height: 178px;
}
.knight-move-down {
	background: url('/imgs/Button.png') no-repeat -578px -2616px;
	width: 176px;
	height: 178px;
}
.dino-move-right {
	background: url('/imgs/Button.png') no-repeat -386px -2021px;
	width: 176px;
	height: 178px;
}
.dino-move-left {
	background: url('/imgs/Button.png') no-repeat -386px -2229px;
	max-width:100%;
	max-height:100%;
	background-size: contain;
}
.dino-move-up {
	background: url('/imgs/Button.png') no-repeat -386px -2421px;
	width: 176px;
	height: 178px;
}
.dino-move-down {
	background: url('/imgs/Button.png') no-repeat -386px -2616px;
	width: 176px;
	height: 178px;
	border: solid black 2px;
}
.knight {
	background: url('/imgs/Attack_10.png') no-repeat;
	max-width:100%;
	max-height:100%;
	background-size: contain;
}
.dino {
	background: url('/imgs/Idle_10.png') no-repeat;
	height: auto;
	width: auto;
	background-size:contain;
}